<!DOCTYPE html>
<html>

<head>
  <title>Taco Recipes</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <h1>Fadhuma Hindi Taco🌮</h1>

  <form action="/recipe" method="POST" class="buttons">
    <button type="submit" value="chicken" name="choice">🍗</button>
    <button type="submit" value="beef" name="choice">🥩</button>
    <button type="submit" value="fish" name="choice">🐟</button>
  </form>
  <div id="recipeContainer" class="hidden">

    
     <% if(locals.karinta){ %>
      <h2 >
        <%= karinta.name %>
      </h2>

      <h3>Ingredients:</h3>
      <ul id="ingredientsList">
        <li>
          <%= karinta.ingredients.protein.name %>, <%= karinta.ingredients.protein.preparation %>

        </li>
        <li>
          <%= karinta.ingredients.salsa.name %>, <%= karinta.ingredients.salsa.spiciness %>

        </li>
        <li>
          <% karinta.ingredients.toppings.forEach(topping => {%>
            <li>
              <%= topping.quantity %> of <%= topping.name %>
            </li>

         <% }) %>
        </li>

      <% } else {%>
          <h2>Pick your favourite taco ingredient 👆</h2>

          <% } %>



    </ul>



  </div>
</body>

</html>